/* Slider */
.sliderContainer {
    width: 100%;
    height: 100%;
}

.imgContainer {
    position: relative;
    width: 100vw;
    height: 560px;
    top: 0px;
    left: 0;
}

/* Category */
.category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
}

.categoryContent {
    width: 680px;
    height: 400px;
}

.categoryContent:first-child {
    margin-right: 20px;
}

.categoryContent:last-child {
    margin-left: 20px;
}

.categoryContent, .imgCategory {
    position: relative;
}

.imgCategory {
    width: 100%;
    height: 100%;
}

.categoryContent img {
    transition: all .3s ease-in-out;
}

.categoryContent:hover img {
    transform: scale(1.1);
}

.title {
    color: #fff;
    max-width: 600px;
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 42px;
    font-weight: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

@media (max-width:998px) {
    /* Category 767px */
    .categoryContent:first-child {
        margin-right: 10px;
    }
    
    .categoryContent:last-child {
        margin-left: 10px;
    }

    .title {
        font-size: 36px;
    }
}

@media (max-width:767px) {
    /* Slider 767px */
    .imgContainer {
        height: 420px;
    }

    /* Category 767px */
    .category {
        display: block;
        padding-top: 40px;
    }

    .categoryContent {
        width: 100%;
        height: 100%;
        margin-top: 20px;

    }

    .imgCategory {
        height: 280px;
    }

    .categoryContent:first-child, .categoryContent:last-child {
        margin-right: 0;
        margin-left: 0;
    }
}